data/parsers/housing/client_housing_object_place_tag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 This program is free software: you can redistribute it and/or modify it under
 the terms of the GNU General Public License as published by the Free Software
 Foundation, either version 3 of the License, or (at your option) any later
 version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see <http://www.gnu.org/licenses/>.
-->
<!-- @author hex1r0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="client_housing_common.xsd"/>
  <xs:element name="client_housing_object_place_tags" type="client_housing_object_place_tagsType"/>
  <xs:complexType name="client_housing_object_place_tagsType">
    <xs:sequence>
      <xs:element type="client_housing_object_place_tagType" name="client_housing_object_place_tag" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="generated_time"/>
  </xs:complexType>
  <xs:complexType name="client_housing_object_place_tagType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="PlaceLimitTypeName" name="name"/>
      <xs:element type="xs:string" name="desc" minOccurs="0"/>
      <xs:element type="xs:byte" name="personal_types_max"/>
      <xs:element type="xs:byte" name="personal_typea_max"/>
      <xs:element type="xs:byte" name="personal_typeb_max"/>
      <xs:element type="xs:byte" name="personal_typec_max"/>
      <xs:element type="xs:byte" name="personal_typed_max"/>
      <xs:element type="xs:byte" name="trial_personal_types_max"/>
      <xs:element type="xs:byte" name="trial_personal_typea_max"/>
      <xs:element type="xs:byte" name="trial_personal_typeb_max"/>
      <xs:element type="xs:byte" name="trial_personal_typec_max"/>
      <xs:element type="xs:byte" name="trial_personal_typed_max"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>